@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 203, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}